body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #fce4ec, #f3e5f5);
  color: #ec407a;
}

.container {
  max-width: 1900px; /* Ajusta el ancho máximo según tu preferencia */
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 15px 0;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  background-color: #e91e63;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px; /* Agrega un margen inferior a este botón */
}

button i {
  margin-right: 10px;
}

button:hover {
  background-color: #d81b60;
  transform: scale(1.05);
}
a {
  text-decoration: none;
}
